:root {
    --color-fuente:  #fff;
    --color-resaltado: #2660a4;
    --color-fondo: #191919;
    --color-fondo2: #000;
    --color-fondo3: #fff;
    --fuente-titulos: "Poppins", sans-serif;
}

body {
    background-color: var(--color-fondo2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header {
    width: 99vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-fondo);
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

p#icono {
    font-size: 2rem;
    color: var(--color-fuente);
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    font-family: var(--fuente-titulos);
    font-weight: 575;
}

nav#navBar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 100%;
     margin: 0;
    padding: 0;
    font-size: 0;
}
nav#navBar ul li {
    padding: 5px 5px 5px 5px;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-titulos);
}

nav#navBar ul li a {
    text-decoration: none;
    color: var(--color-fuente);
    font-weight: 530;
    font-size: 1.1rem;
    background-color: var(--color-fondo);
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    margin: 0;
    gap: 0;
}

div.selectorIdioma select#idioma {
    background-color: var(--color-fondo2);
    color: var(--color-fuente);
    font-family: var(--fuente-titulos);
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#Inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%
}

div.cardPerfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 55%;
    margin-top: 2rem;
    padding: 15px 10px 15px 10px;
    background-color: var(--color-fondo1);
}


div.imgPerfil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    height: 14rem;
    width: 12vw;
    border-radius: 20px;    
}

div.imgPerfil img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

div.infoPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

div.infoPerfil h1.nombre {
    font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    font-size: 3rem;
    margin: 0;
    padding: 0 0 0 0;
}
div.infoPerfil h2.profesion {
    font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
div.infoPerfil p.presentacion {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: var(--color-fuente);
    font-size: 1rem;
}

div.infoPerfil p#txtUbicacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    font-size: 1rem;
}

div.infoPerfil img#imgUbicacion {
    width: 18px;
    height: 18px;
    margin-right: 0.1rem;
    margin-bottom: 3px;
}

div#redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    margin-top: 20px;
}
 div.redesSociales{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: var(--color-fondo2);
}
div.redesSociales a{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: #191919 2px solid;
    border-radius: 10px;
    box-shadow: 0px 5px #191919;
    padding: 0;
    margin: 0;
    width: 150%;
    height: 100%;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}
div.redesSociales a:hover{
    transform: translateY(10%);
    box-shadow: 0px 0px #000;
}

section#Proyectos, #ToolsSkills, #SobreMi, #Contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 70px;
}

div.Proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 55%;
    height: 100%;
    margin-top: 2rem;
    padding: 15px 10px 15px 10px;
    background-color: var(--color-fondo);
    }

div.tituloProyectos {
    display: flex;
    flex-direction: row; 
    justify-content: start;
    align-items: center;
    width: 100%;
     margin-bottom: 20px;
    }

    div.tituloProyectos img{
        height: 75px;
        padding: 10px;
    }

    div.tituloProyectos h2 {
        font-family: var(--fuente-titulos);
        color: var(--color-fuente);
        font-size: 2.5rem;
        margin:0;
        padding: 0 0 0 0;
    }

div.listaProyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1.2fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

div.cardProyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    padding: 0 10px 10px 10px;
    margin: 0 0 10px 0;
    border: 2PX solid #000;
    transition: transform 0.2s ease-in ;
}
div.cardProyecto:hover {
    transform: translateY(-5%);
    box-shadow: 0 2px 3px 2px #0a0a0a;
}
a.linkProyectos {
    text-decoration: none;
    color: var(--color-fuente);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.cardProyecto h3.subtitleProyecto {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    padding: 0;
    font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    height: 60px;
    width: fit-content;
}
div.cardProyecto h3.subtitleProyecto:hover {
    color: var(--color-resaltado);
}

div.cardProyecto p.descripcionProyecto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-fuente);
    font-family: var(--fuente-titulos);
    margin: 0;
}

div.cardProyecto img.imgProyecto {
    width: 266px;
    height: 150px;
}

div.masProyectos {
    margin-top: 10px;
    width: 100%;
    height: 99%;
    grid-column: span 3;
    background-image: url(img/prueba.jpg);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    border-radius: 20px;

}

div.masProyectos > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

div.masProyectos a{
    color: var(--color-fuente);
    text-decoration: none;
    font-family: var(--fuente-titulos);
    font-size: 2.5rem;
}



div.ToolsSkills {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 30px;
    width: 55%;
    height: 100%;
    margin-top: 2rem;
    padding: 15px 10px 3rem 10px;
    background-color: var(--color-fondo);
}

div.tituloTS{
    display: flex;
    flex-direction: row; 
    justify-content: start;
    align-items: center;
    width: 100%;
}

div.tituloTS > h3 {
    font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    font-size: 2.5rem;
    margin:0;
    padding: 0 0 0 0;
}

div.tituloTS > img{
    height: 65px;
    padding: 10px;
}

div.tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3.subtituloLista {
    font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    font-size: 1.5rem;
    margin: 1em 0 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p.presentTS {
    font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
}
div.listaT1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    
}

div.tecnologias{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 3px 2px #0a0a0a;
    transition: transform 0.2s ease-in, filter 0.2s ease-in;
    filter: grayscale(1);
}

div.tecnologias:hover {
    transform: translateY(-5%);
    filter: grayscale(0);
}



p.descripcionTS {
    font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    
}

div.tecnologias img#vsc{
    height: 110px;
    width: 110px;
}

.d-none {
    display: none;
}

#verMasTS {
  grid-column-start: span 4;
  width: 104.5%;
  height: 75px;
  margin-top: 5px;
  background-color: #000;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--fuente-titulos);
}

#verMenosTS {
  width: 100%;
  background-color: #000;
  color: var(--color-fuente);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--fuente-titulos);   
}
div.d-none {
    display: none;
}

div.listaT2 {
    width: 100%;
    padding: 10px;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

div.idioma { 
    padding: 25px 25px 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 3px 2px #0a0a0a;
    transition: transform 0.2s ease-in, filter 0.2s ease-in;
    filter: grayscale(1);
}
div.idioma:hover {
    transform: translateY(-5%);
    filter: grayscale(0);
}

img.imgIdiomas {
    height: 110px;
    width: 136px;
    border-radius: 8px;
}


div.sobreMi {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 30px;
    width: 55%;
    height: 100%;
    margin-top: 2rem;
    padding: 15px 10px 3rem 10px;
    background-color: var(--color-fondo);
}
div.tituloSM {
    display: flex;
    flex-direction: row; 
    justify-content: start;
    align-items: center;
    width: 100%;
}

div.tituloSM > h3 {
    font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 2.5rem;
}

div.contenidoSM {
    display:flex; 
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

p.textoSM {
   font-family: var(--fuente-titulos);
   color: var(--color-fuente);
   width: 96%;
   height: fit-content;
   margin: 7px  0 20px 10px; 
   text-align: left;
   padding: 0;
}
.margin0 {
  margin-bottom: 0 !important;   
}
span{
    font-weight: 650;
}
span:hover {
    color: var(--color-resaltado);
}

div.contenidoSM img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-right: 10px;
}

div.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.tituloContacto > h3 {
font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}
p.textoContacto {
    font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    padding: 0;
}    

div.contenidoContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--color-fondo);
    background-color: var(--color-fondo);
}
a.mail{
    text-decoration: none;
    color: var(--color-fuente);
    font-family: var(--fuente-titulos);   
    font-style: italic;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in, color 0.2s ease-in;
}
a.mail:hover {
    color: var(--color-resaltado);
    transform: translateY(-5%);
    color: var(--color-resaltado);
}
button.btnCopiar {
    background-color: var(--color-fondo);
    padding: 0 0 0 0;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    transition: transform 0.2s ease-in;
}

button.btnCopiar:hover {
    color: var(--color-resaltado);
    transform: translateY(-5%);
}

button.btnCopiar > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

footer {
    margin-top: 70px;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
}

div.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    flex-wrap: wrap;
    margin-top: 30px;
}

div.redesSocialesFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 70px;
    background-color: var(--color-fondo2);
}
div.redesSocialesFooter > a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: #000 2px solid;
    border-radius: 10px;
    box-shadow: 0px 5px #191919;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    
}

p.copyright {
    font-family: var(--fuente-titulos);
    color: var(--color-fuente);
    font-size: 0.7rem;
    margin-top: 20px;
    padding: 0;
    
}

p.copyright a {
    text-decoration: none;
    color: var(--color-fuente);
}

div#EmailCopiado {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-fondo);
    color: var(--color-fuente);
    padding: 10px 20px;
    border-radius: 8px;
    font-family: var(--fuente-titulos);
    animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0; transform: translateY(10px);
    }
    10% {
        opacity: 1; transform: translateY(0);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0; transform: translateY(10px);
    }
}