:root {
    --color-fuente:  #fff;
    --color-resaltado: #2660a4;
    --color-fondo: #191919;
    --color-fondo2: #000;
    --color-fondo3: #fff;
    --fuente-titulos: "Poppins", sans-serif;
}





body {
    background-color: var(--color-fondo2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-fondo);
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

p#icono {
    font-size: 2rem;
    color: var(--color-fuente);
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    font-family: var(--fuente-titulos);
    font-weight: 575;
}

nav#navBar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 100%;
     margin: 0;
    padding: 0;
    font-size: 0;
}
nav#navBar ul li {
    padding: 5px 5px 5px 5px;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-titulos);
}

nav#navBar ul li a {
    text-decoration: none;
    color: var(--color-fuente);
    font-weight: 530;
    font-size: 1.1rem;
    background-color: var(--color-fondo);
    box-sizing: border-box;
   
    padding: 5px 10px 5px 10px;
    margin: 0;
    gap: 0;
}

div.selectorIdioma select#idioma {
    background-color: var(--color-fondo2);
    color: var(--color-resaltado2);
    font-family: var(--fuente-titulos);
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#Inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    width: 80%
}

div.cardPerfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 55%;
    margin-top: 2rem;
    padding: 15px 10px 15px 10px;
    background-color: var(--color-fondo3);
}


div.imgPerfil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    height: 14rem;
    width: 12vw;
    border-radius: 20px;    
}

div.imgPerfil img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

div.infoPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

div.infoPerfil h1.nombre {
    font-family: var(--fuente-titulos);
    color: var(--color-titulos);
    font-size: 3rem;
    margin:0;
    padding: 0 0 0 0;
}
div.infoPerfil h2.profesion {
    font-family: var(--fuente-titulos);
    color: var(--color-cuerpo);
    font-size: 2rem;
    margin:0;
    padding: 0;
}
div.infoPerfil p.presentacion {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: var(--color-cuerpo);
    font-size: 1rem;
}

div.infoPerfil p#txtUbicacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
}

div.infoPerfil img#imgUbicacion {
    width: 20px;
    height: 20px;
    margin-right: 0.1rem;
}

section#Proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}


    div.Proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 55%;
    height: 100%;
    margin-top: 2rem;
    padding: 15px 10px 15px 10px;
    background-color: var(--color-fondo3);
    }

    div.tituloProyectos {
        display: flex;
        flex-direction: row; 
        justify-content: start;
        align-items: center;
        width: 100%;
    }

    div.tituloProyectos img{
        height: 90px;
    }

    div.tituloProyectos h2 {
        font-family: var(--fuente-titulos);
        color: var(--color-titulos);
        font-size: 2.5rem;
        margin:0;
        padding: 0 0 0 0;
    }

div.listaProyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1.2fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

div.cardProyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    
   
}
div.cardProyecto h3.subtitleProyecto {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
   padding: 0;
    font-family: var(--fuente-titulos);
    height: 60px;
}
/*margin-top: 20px;
 margin-bottom: 0;*/
div.cardProyecto p.descripcionProyecto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--fuente-titulos);
    margin-top: 10px;
}

div.cardProyecto img.imgProyecto {
    width: 266px;
    height: 150px;
}

div.masProyectos {
    margin-top: 10px;
    width: 100%;
    height: 99%;
    grid-column: span 3;
    background-image: url(img/prueba.jpg);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #000;
    border-radius: 20px;

}

div.masProyectos > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

div.masProyectos a{
    color: var(--color-resaltado);
    text-decoration: none;
    font-family: var(--fuente-titulos);
    font-size: 2.5rem;
}

